[submodule "library/nerd"]
	path = library/nerd
	url = https://github.com/nerdsrescueme/Core.git
[submodule "library/geek"]
	path = library/geek
	url = https://github.com/nerdsrescueme/Geek.git
[submodule "library/ecommerce"]
	path = library/ecommerce
	url = https://github.com/nerdsrescueme/Ecommerce.git
[submodule "library/auth"]
	path = library/auth
	url = https://github.com/nerdsrescueme/Auth.git
[submodule "library/theme"]
	path = library/theme
	url = https://github.com/nerdsrescueme/Theme.git
